@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Resend confirmation email";
}

<h2>@ViewData["Title"]</h2>

<div>
    Email sent!<br />
    If you don't receive it, then white list travelhacks@outlook.com and try again
</div>


