@model AwardWeb.Models.SASSearch

@{
    ViewData["Title"] = "En guide till SAS Eurobonus";
}
<hr />
<div class="row">
    <div>
        <h4>Hur blir jag medlem i Eurobonus</h4>
        <p>Registrera dig på <a href="https://www.sas.se/eurobonus/#/profile?userAction=Register">sas.se</a></p>
    </div>
</div>
<div class="row">
    <div>
        <h4>Hur mycket poäng krävs för en bonusresa?</h4>
        <p>Från 6000 för en enkel inrikesresa med SAS, upp till 240 000 poäng för t/r i första klass (F) till Australien med andra aliansbolag</p>
    </div>
</div>
<div class="row">
    <div>
        <h4>Hur hittar jag en resa?</h4>
        <p>För biljetter med SAS group kan du söka <a href="/">här</a> eller på <a href="https://sas.se"> sas.se</a> </p>
        <p>För biljetter med andra bolag inom Star Alliance kan du använda United.  </p>
    </div>
</div>
<div class="row">
    <div>
        <h4>Hur tjänar jag poäng</h4>
        <p>Flyg med SAS och andra Star Alliance-bolag</p>

        <p>Skaffa kreditkort med poängintjäning till Eurobonus</p>

        <p>Handla</p>

        <p>Handla</p>
    </div>
</div>